# __Stroke Prediction__


## __Contents:__
> 1. Overview
> 2. Installation
> 3. Read the dataset
> 4. Explore Information
> 5. Cleaning the dataset
>> 1. Handling whitespaces
>> 2. Handling the Missing Values
>> 3. Handling the Outliers
> 6. Explore Data Analysis
>> 1. Questions & Answers


## __Overview:__

In this project we take the dataset from kaggle [here](https://www.kaggle.com/fedesoriano/stroke-prediction-dataset/code?datasetId=1120859&sortBy=voteCount)

# <hr>

## __Installation:__

In [2]:
# !pip install plotly_express
# !pip install seaborn

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

# <hr>

## __Read the Dataset:__

In [4]:
# Read Dataset
df = pd.read_csv('data/stroke-data.csv')
df_eda = df.copy()
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [5]:
df_eda.smoking_status.value_counts()

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

# <hr>

## __Cleaning the Dataset:__

### Handling whitespaces:

In [6]:
# strip whitespaces in columns
df.columns.str.strip()

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [7]:
# strip whitespaces in values of multiple columns
cols = ['gender', 'ever_married', 'work_type','Residence_type','smoking_status']
df[cols] = df[cols].apply(lambda x: x.str.strip())

### Handling the Missing Values:

In [8]:
# Check for null values
df_eda.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [9]:
df_eda.bmi.mean()

28.893236911794673

In [10]:
df_eda.bmi.median()

28.1

In [11]:
# fill null values in bmi column
df_eda.bmi= df_eda.bmi.fillna(df_eda.bmi.mean())

In [12]:
df_eda.isna().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [13]:
df_eda.smoking_status.value_counts()

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

### Handling the Outliers:

In [14]:
# Find Outliers

# <hr>

## __Explore Data Analysis:__

### Questions & Answers:

#### 1. Does age has impact on strokes?

In [15]:
# Code
age_group = df_eda.groupby('age')[['stroke']].sum()
age_group

       stroke
age
0.08        0
0.16        0
0.24        0
0.32        0
0.40        0
...       ...
78.00      21
79.00      17
80.00      17
81.00      14
82.00       9

[104 rows x 1 columns]

In [16]:
# Visual

#### 2. Does body mass index and glucose levels in a person, propel a stroke?

In [17]:
# Code
bmi_group = df_eda.groupby(['bmi','avg_glucose_level'])[['stroke']].sum().sort_values(ascending=False, by='stroke')
bmi_group.head(60)

                             stroke
bmi       avg_glucose_level
28.893237 101.45                  2
26.800000 218.46                  1
26.600000 199.20                  1
          228.70                  1
20.300000 104.47                  1
29.700000 84.20                   1
          80.43                   1
          79.79                   1
20.200000 213.03                  1
29.600000 97.76                   1
20.100000 130.54                  1
26.700000 206.09                  1
29.500000 86.62                   1
36.500000 190.14                  1
38.600000 107.26                  1
26.900000 90.19                   1
38.700000 263.32                  1
26.900000 97.92                   1
29.400000 64.14                   1
19.600000 78.81                   1
39.200000 58.09                   1
29.300000 78.80                   1
27.000000 194.37                  1
39.300000 211.06                  1
37.800000 89.22                   1
26.600000 74.96                   1
37.500000 191.61                  1
20.500000 74.11                   1
26.300000 72.81                   1
36.600000 228.69                  1
26.300000 83.24                   1
36.700000 84.96                   1
36.800000 72.17                   1
30.000000 221.79                  1
36.800000 120.46                  1
30.000000 86.23                   1
36.900000 231.56                  1
26.400000 96.59                   1
          97.43                   1
          144.90                  1
37.100000 185.49                  1
29.900000 140.10                  1
          76.13                   1
26.500000 84.03                   1
37.300000 221.89                  1
29.900000 60.91                   1
29.800000 226.98                  1
37.400000 112.24                  1
37.500000 68.02                   1
27.000000 240.09                  1
19.400000 78.70                   1
27.100000 82.10                   1
28.893237 219.84                  1
          211.78                  1
          209.86                  1
          202.21                  1
          199.86                  1
          197.54                  1
42.200000 205.35                  1
28.893237 189.84                  1

In [18]:
# Visual

#### 3. Assumption: Smoking can induce Stroke, is it true?

In [19]:
# Code
smoke_group = df_eda.groupby('smoking_status')[['stroke']].sum()
smoke_group

                 stroke
smoking_status
Unknown              47
formerly smoked      70
never smoked         90
smokes               42

In [20]:
# Visual

#### 4. Assumption: Heart with a Heart Disease is prone to Stroke, is it true?

In [21]:
# Code
heart_group = df_eda.groupby('heart_disease')[['stroke']].sum()
heart_group

               stroke
heart_disease
0                 202
1                  47

In [22]:
# Visual

#### 5. Assumption: Workload results in high blood pressure and that could lead to Stroke, is it true?

In [23]:
# Code

In [24]:
# Visual

#### 6. Assumption: Males are most susceptible to strokes due to high work related stress, is it true

In [25]:
# Code

In [26]:
# Visual